/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  background-color: #d8eee8;
  color: #001732;
  padding: 16px;
}

.game-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.btn {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
}

.score {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 20px;
}

.game-board {
  margin-bottom: 20px;
  border: 2px solid #001732;
  position: relative;
}

.btn-full {
  width: 100%;
  margin-top: 10px;
}

.hidden {
  display: none;
}
